@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #eee9d6;
  --foreground: #140830;
}


@layer components {
  .section-box {
    @apply flex flex-col items-stretch w-full py-5 px-5 border border-background bg-black rounded-2xl
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-050: #fcf0fc;
  --color-brand-100: #f9dff9;
  --color-brand-200: #f6cdf5;
  --color-brand-300: #f3b9f1;
  --color-brand-400: #e774e4;
  --color-brand-500: #d927d5;
  --color-brand-600: #a81da5;
  --color-brand-700: #7a1577;
  --color-brand-800: #460c45;
  --color-brand-900: #30082f;
  --color-brand-950: #1f051e;
  --color-secondary-050: #faf2f1;
  --color-secondary-100: #f4e4e2;
  --color-secondary-200: #eed4d2;
  --color-secondary-300: #e7c3c0;
  --color-secondary-400: #d28e89;
  --color-secondary-500: #c1635b;
  --color-secondary-600: #a0443d;
  --color-secondary-700: #73312b;
  --color-secondary-800: #411c19;
  --color-secondary-900: #2b1210;
  --color-secondary-950: #1b0b0a;
  --color-tertiary-050: #fbf1f4;
  --color-tertiary-100: #f6e2e8;
  --color-tertiary-200: #f1d2da;
  --color-tertiary-300: #ebc1cc;
  --color-tertiary-400: #d9899e;
  --color-tertiary-500: #ca5977;
  --color-tertiary-600: #ab3756;
  --color-tertiary-700: #7b273e;
  --color-tertiary-800: #461623;
  --color-tertiary-900: #2f0f17;
  --color-tertiary-950: #1d090f;
  --color-neutral-050: #f3f3f5;
  --color-neutral-100: #e7e7ea;
  --color-neutral-200: #dad9de;
  --color-neutral-300: #cbcbd1;
  --color-neutral-400: #9f9fa9;
  --color-neutral-500: #7e7d8c;
  --color-neutral-600: #61606c;
  --color-neutral-700: #45454d;
  --color-neutral-800: #27262b;
  --color-neutral-900: #19191c;
  --color-neutral-950: #100f11;
}

/*
rampensau palette
#eee9d6, #dbbfa8, #cc7e77, #c24063, #9b266f, #6e136c, #280a37, #140830
*/

@media (prefers-color-scheme: light) {
  :root {
    --background: #eee9d6;
    --foreground: #140830;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

